@page
@model webapp.Pages.Expenses.CreateModel

@{
    ViewData["Title"] = "Create";
}

@if(Model?.CategoriesModel != null)
{
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Create Expense</h2>
                <hr>
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="Expense.Name">Name</label>
                <input asp-for="Expense.Name" class="form-control"/>
                <span asp-validation-for="Expense.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Expense.Amount">Amount</label>
                <input asp-for="Expense.Amount" class="form-control"/>
                <span asp-validation-for="Expense.Amount" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Expense.CategoryId">Category</label>
                <select required class="form-select form-select-md" asp-for="Expense.CategoryId" aria-label=".form-select-md example">
                    <option value="">Category</option>
                    @foreach (var category in Model.CategoriesModel)
                    {
                        <option value="@category.Id">@category?.Name</option>                
                    }
                </select>
                <span asp-validation-for="Expense.CategoryId" class="text-danger"></span>
            </div>
            <button class="btn btn-primary" type="submit" style="width:150px;">Create</button>
            <a asp-page="./Index" class="btn btn-secondary" style="width=150px">
                Back to List
            </a>
        </div>
    </form>
}
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}